@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Please check your email to confirm your account.<br/>
    But for your convenience, you can just <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here</a> to confirm your account.
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

