@{
    ViewData["Title"] = "Portfolio";
}

<div class="row row-cols-1 gy-4">
    <div class="col-10 offset-1 col-xl-8 offset-xl-2">
        <h1>Solo Projects</h1>
        <p>
            All projects are mobile-friendly and are developed all by myself.<br/>
            They reset every 10 minutes, so feel free to test them!
        </p>
    </div>
    <div class="col-10 offset-1 col-xl-8 offset-xl-2">
        <h4 class="fst-italic">
            ThisBistro
            <a href="https://thisbistro.com" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                </svg>
            </a>
        </h4>
        <p>
            A restaurant website developed with ASP.NET Core 6.0 Web API, Entity Framework 6, PostgreSQL 14, Angular 13 and Bootstrap 5.<br/>
            Admin module is a lazy-loaded module.<br/>
        </p>
        <p>
            On this website, customers:
            <ul>
                <li>can view menus by category.</li>
                <li>can add items in cart.</li>
                <li>can edit items in cart.</li>
                <li>can place orders.</li>
            </ul>
        </p>
        <p>
            On this website, restaurant owners:
            <ul>
                <li>can set the website's general configurations.</li>
                <li>can manage categories.</li>
                <li>can change order of appearance of categories.</li>
                <li>can manage menu items.</li>
                <li>can change order of appearance of menu items.</li>
                <li>can view and manage orders received.</li>
            </ul>
        </p>
        <hr/>
        <p>
            I learned how Angular works and how it communicates with the backend APIs developed with ASP.NET Core Web API.
            While working on this project, I also learned about RxJs, different HTTP methods and status codes, various CSS frameworks, containerizing with Docker, and AWS services for deployment.
        </p>
        <p>
            The backend is also designed to accomodate further implementation of Swagger and Auth0.
        </p>
    </div>
    <div class="col-10 offset-1 col-xl-8 offset-xl-2">
        <h4 class="fst-italic">
            Blog Platform
            <a href="https://projectcode9.com/Blog/jake" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                </svg>
            </a>
        </h4>
        <p>
            This website you are looking at right now is developed with ASP.NET Core 6.0 MVC, Entity Framework 6, PostgreSQL 14, Bootstrap 5 and FontAwesome 5. (<span class="fw-bold">Test ID:</span> test@local.com <span class="fw-bold">PW:</span> Test2#)
        </p>
        <p>
            On this website, users:
            <ul>
                <li>can create their own blog space.</li>
                <li>are given a unique address for their blog.</li>
                <li>can manage categories.</li>
                <li>can choose category view type.</li>
                <li>can choose the number of articles to show on a page.</li>
                <li>can post/edit/delete their own postings.</li>
                <li>can designate multiple tags to each article.</li>
                <li>can designate a unique URL to each article.</li>
            </ul>
        </p>
        <p>
            On this website, any person:
            <ul>
                <li>can visit users' postings with a URL such as <a href="https://projectcode9.com/Blog/jake/today-is-a-great-day">https://projectcode9.com/Blog/jake/today-is-a-great-day</a>.</li>
                <li>can sort articles by tags.<br/><a href="https://projectcode9.com/Blog/jake/tag/AZURE">https://projectcode9.com/Blog/jake/tag/AZURE</a> will show Jake's postings that contain the AZURE tag.</li>
                <li>can sort articles by categories.<br/><a href="https://projectcode9.com/Blog/keanu/category/movie">https://projectcode9.com/Blog/keanu/category/movie</a> will show Keanu's postings in his Movie category.</li>
                <li>can leave comments on any article anonymously with a password so that they can edit or delete the comment. These passwords are saved safely after being hashed using HMACSHA256 encryption.</li>
            </ul>
        </p>
        <hr/>
        <p>
            It was my first project that uses the ASP.NET Core.<br/>
            I learned great amount of base knowledge regarding how ASP.NET Core MVC, Bootstrap, authentication, authorization, Entity Framework and C# LINQ work together.
        </p>
    </div>
</div>