@{
    ViewData["Title"] = "Privacy";
}

<div class="row row-cols-1">
    <div class="col text-center my-3">
        <h2>Your data is kept safe with ProjectCode9</h2>
    </div>
    <div class="col-10 offset-1 col-xl-6 offset-xl-3">
        <p>Articles you posted on this website will not be used in any other way.</p>
        <p>Registration information will not be used in any other way.</p>
    </div>
</div>