@using BlogDeleteArticle = Blog.ViewModels.BlogDeleteArticle
@model BlogDeleteArticle

<form asp-action="Delete" method="post" id="DeleteForm">
        <input asp-for="ArticleId" type="hidden"/>
        <input asp-for="BlogAddress" type="hidden"/>
        <button type="submit" class="btn btn-danger">Delete</button>
</form>