html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.comments:nth-child(even) {
  background-color: rgb(248,249,250);
}

.datetime {
  font-size: 0.9rem;
  font-style: italic;
}